:root {
    --purple-color: #9371ad;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Autour One', sans-serif;
}

div.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 6rem;
}



form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

form>input {
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1.1rem;

}


form button,
.post-footer button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(118, 118, 118);
    cursor: pointer;
    border-radius: 11px;
}

main > li {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 255, 255);
    list-style: none;
}

main > li a {
    color: #0a009c;
        transition: all 0.2s ease-out;
        text-decoration: none;
}

input,
button {
    height: 40px;
}

h2 {
    margin: 2rem 0;
}