.post {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    width: 550px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    border: 2px solid hsl(0, 0%, 70%)
    
}

.post:hover {
    box-shadow: 0px 0px 8px rgba(147, 113, 173, 0.3);
    border-color: var(--purple-color);
}

.post-content {
    padding: 16px;
}